@import "variables.sass"

@font-face
  font-family: "Roboto"
  src : url('https://fonts.googleapis.com/css?family=Roboto:400,500,700')

*
  color: $base_font_color
  background-color: $background-color
  font-family: 'Roboto', sans-serif
  font-weight: normal
  font-size: $base_font_size

.btn
  background-color: red
